body{
	background: linear-gradient(to bottom,white 23% ,blue , orange);
}
header{
	font-family: Impact;
	font-size  : 17px;


}

p{
	text-decoration: none;
	padding-top: 10px ;
	margin: 10px;
	display: inline-block;
	color: #000; 
	font-family: Comic Sans MS;
	text-align: justify;
	cursor: default;



}

img{
	/*float: right;*/
		width: 500px;
		height: 400px;
		
		/* margin-right: 140px;
		margin-bottom: 10px;*/
		text-align: ;
		float: left;
		margin-right: 15px;
		margin-bottom: 15px;
}

.section__p-color{
	color: #11B939;
}

.section__p-color2{
	color: #FCFCFC;
}

.section__h2-titulo{
	color: #000; 
	font-family: Comic Sans MS;
	font-size:20px; 
	text-align: center;
	padding-top: 24px;
	text-decoration: none;
	cursor: default;
	


}

.nav__responsive-ul {
	display: none;



}

.nav{
	background-color: #32C689;
	text-align: center;
	cursor: cell;



}

.nav__li{
	display: inline-block;
	padding: 12px;
	color: #fff;


}


.nav__li:hover>a{
	color: #F9F1F1;
}

.nav__li:hover{
    color: #09850C;
}

.nav__li a {
	color: #fff;
	text-decoration: none;
	cursor: cell;

}

.nav__li i{
	
	box-sizing: border-box;
	text-align: center;	
	margin-right: 5px;
	font-size: 20px;

}

.nav__responsive-button-container {
	float: right;
	font-size: 25px;
    padding: 6px 20px;
    color:#fff;
    background: #fff;
    margin-top: -29px; 
    z-index: 100;
}

.nav__responsive-button{

   font-size: 25px;
   padding: 6px 20px;
   color:#000;
   background: #fff;
}

b{
	padding-left: 10px;
	text-decoration: none;
	font-family: Comic Sans MS;
	cursor: default;
	color: #000;
}


@media only screen and (max-width: 500px){
		.nav__li{
		display: none;

		}
		
		.nav{
		height: 10px;
		width: 100%;
		background-color:#fff;
		
		
		}	
		.nav__responsive-ul{
		display: block;
		position: absolute;
		width: 100%;
		padding-top: 8px;
		margin-top: 1px;
		height: 20px;

		
		}

		.nav__li-container{
		position: relative;	
		top:-1000px;	
		height: calc(100vh - 29px) ;
		background:#32C689;
		transition: all 1s;
		z-index: 1;

		}

		.nav__responsive-li{
			width: 100%;
			padding: 7px 17px;

		}
		.nav__responsive-li i{
        box-sizing: border-box;
	    text-align: center;	
	    margin-right: 5px;
	    font-size: 20px;
	    width: 30px;
	    color: #000;

		}

		.nav__responsive-li:hover{
		 color: #000;	

		}

		.nav__responsive-li:hover> a{
		color: #000;

		}



		.nav__responsive-li a{
		color: #fff;	
		text-decoration: none;
		}

		.nav__responsive-ul:hover>.nav__li-container{
			top: 7.5px;

		}
	}

	



/*
como comentar elementos HTML
<!--</title>brimera bágina con CSS</title>-->
h2{
	font-weight: 900;
	background-color: green;  
	display: inline-block;
	padding: 5em;
	box-sizing: border-box;
	text-align: center;
	margin: 10px 20px;
	border-radius: 100%;
	border: 1em ridge red; 
	box-shadow: 30px 10px 10px 10px blue;
	text-shadow: 6px 6px 7px black,6px 6px 7px black,6px 6px 7px black ;
    transform: rotate(10deg);
}
*/
/*.caja1{
 width: 200px;
 height: 200px;
 background: red;
 margin: auto;
 outline: 10px solid black;
 
}

.caja2{
 width: 200px;
 height: 200px;
 background: yellow;
  margin: auto;

}*/
/*
div{
	width: 120px;
	height: 120px;
	display: block;
    background: yellow;
    border: 0 solid red;
    
}
.caja1{
	background-color:orange; 
	
}
.caja2{
	background-color:green; 
	position: relative;
	top:0px;
	left: 120px;
	/*z-index: 1;*/
	/*
}
.caja3{
	background-color:lightblue; 
    position: relative;
    top: 0px;
    left: 240px;
    /*z-index: 10;*/
    /*
}
.caja4{
	background-color:yellow; 
	position: relative;
	top: 0px;
	left: 360px;
}
*//*
div{
	background: yellow;
	display: block;
    position: absolute;
}
div div{
height: 147px;
width: 147px;
background: yellow;
}

.content{
 position: relative;   
 border: 4px solid red;
 margin: 50px auto;
 width: 450px;
 height: 450px;
 background: green;
}

.caja1{
	
}
.caja2{
  right: 0;
/*opacity: .6;
margin-left: 2em; */
/*
}
.caja3{
right: 0;
bottom: 0;
}
.caja4{
bottom: 0;
}
.caja5{
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}*//*;
body{
	padding-top: 100px;
}
.caja-fixed{
	background: lightblue;
	position: fixed;
    margin: -100px;

}
*/

/*
.caja-sticky{
	background: lightblue;
	position: sticky;
    top: 0;
    margin-top: 30px;
}
b{
	width: 150px;
	height: 150px;
	margin: 20px;
	border: 10px dashed red;
	background: lightblue;
	margin-left: 40px;
	width: 300px;
	height: 300px;
	display: inline-block;

}  
div{
	margin: auto;
	margin-top: 50px;
	width: 320px;
	height: 350px;
	border: 10px double red;
	background: blue;
	overflow: auto;
}  
div{
	margin: auto;
	margin-top: 50px;
	width: 320px;
	height: 350px;
	border: 10px double red;
	background: blue;
	overflow: scroll;
}
.container{


}

.container div{
width: 50%;
float: left;

}

.first{
background: blue;
text-align: center;
}

.second{
background: lightblue;
text-align: center;
}
uso del FLOAT
.container{
	margin: auto;
	margin-top: 50px;
	border: 4px solid blue;
	background: grey;
	width: 50%;
	text-align: center;
}
.container {
	
	width: 50%;
	padding: 20px;
}
.container img{
	float: left;
    width: 200px;
    margin-right: 10px;
    margin-bottom: 10px;
}
pseudo-elementos
.texto{
	padding: 20px;
}
.texto::first-letter{
	color: blue;
	font-size: 6em;
}
.texto::first-line{
	color: red;
}	
form{
	margin: 100px auto;
	display: block;
	background-color: red;
	padding: 20px;
	width: 50%;
}
p{
	padding: 2px;
	width: 100%;
}
p::selection{
	color: white;
	background-color: black;

}

input{
	padding: 6px;
	width: 100%;
}
input::selection{
	color: blue;
	background-color: lightgreen;

}

input::placeholder{
	color: blue;
}
b{
	padding: 2px;
	width: 100%;

}
b::before{
	content: "me suscribi";
	color: #fff;

}
b::after{
	content: "todo tendencias";
	color: #594;

}	
uso del hover
.box1{
	margin: 30px;
	padding: 20px;
	background-color: darkslateblue;
    color: #fff;
    display: block;
}

.box1:hover{
	padding: 20px;
	background: slateblue;
	color:#000;
}
uso del link and visited
a{
	margin: 30px;
    display: block;
}

a:link{
	color: red;
}
a:visited{
	color: green;
}

uso del active
.box{
	width: 200px;
	height: 200px;
	background: red;
	margin: 25px;
	transition: all 1s;
}
.box:active{
	background:  blue;
	width: 600px;
	height: 250px;
}

uso del focus
.box{
	
	margin: 25px;
	background: lightblue;
	transition: all .4s;
}
.box:focus{
	background:  white;
	
}

uso del lang
.box{
	
	margin: 25px;
	
}
.box i:lang(en){
	background:  red;
	padding: 20px;
}
uso del object-fit
.box{
	padding: 20px;
	width: 300px;
	height: 300px;
	display: flex;

}
.box img{
    object-fit: contain;
    border: 4px solid red;

}
.box img{
    object-fit: cover;
    border: 4px solid red;

}
.box img{
    object-fit: none;
    border: 4px solid red;

}
.box img{
    object-fit: scale-down;
    border: 4px solid red;

}
uso del object-position
.box img{
	border: 4px solid red;
    object-fit: cover;
    object-position:top; 
    

}
uso del cursor
.box img{
	border: 4px solid red;
    object-fit: cover;
    object-position:top; 
    cursor: pointer;

}
.box img:active{
	cursor: row-resize;
}
.box img:active{
	cursor: progress;
	copy,alias,all-scroll,auto,cell,crosshair,n-resize 

}
body{
	background-color: #111;

}
.box{
	padding: 20px;
	width: 300px;
	height: 300px;
	display: flex;
    
}
.box img{
	border: 4px solid rgb(25,100,0);
    object-fit: cover;
    object-position:top; 
    cursor: pointer;
    border-radius: 50%;
}
.box img:active{ 
	cursor:help; 
}
responsive, no me funciono correctamente
div{
	width: 49%;
	display: inline-block;
	padding: 20px;
	background: #ddd
}
.box2{
	background: #bb6
}


@media only screen and(max-width: 800px) {
	div{
		display:block;!important
		width: 100%;
	}
}
menu responsive,faltan poner iconos=font awesome 4:20:00 4:31:25 hasta 4:35.12 me falta el diseño responsive moblie
<header>
	<nav class="nav">
		<ul class="nav__ul">
			<li class="nav__li"><a href="none"><b>|o| </b> Inicio</a></li>
			<li class="nav__li"><a href="none"><b>]o[ </b> Sobre nosotros</a></li>
			<li class="nav__li"><a href="none"><b>}${ </b> Gana dinero</a></li>
			<li class="nav__li"><a href="none"><b>|?| </b> Ayuda</a></li>
		</ul>
		<ul class="nav__responsive-ul">
			<div class="nav__responsive-button"></div>
			<div class="nav__li-container">
				<li class="nav__responsive-li"><a href="none"><b>|o| </b> Inicio</a></li>
			    <li class="nav__responsive-li"><a href="none"><b>]o[ </b> Sobre nosotros</a></li>
			    <li class="nav__responsive-li"><a href="none"><b>}${ </b> Gana dinero</a></li>
			    <li class="nav__responsive-li"><a href="none"><b>|?| </b> Ayuda</a></li>
			</div>
		</ul>
	</nav>
</header>

estilo.css
b{
	color: #111;
	background: #fff;
	border:   1px double #111;
	border-radius: 50%;


}
.nav__responsive-ul{
	display: none;
}

.nav{
	background-color: rgb(0,0,120);
	height: 55px;
}

.nav__li{
	display: inline-block;
	padding: 12px;
}

.nav__li:hover>a{
	font-size: 21px;
	color: rgb(0,240,120);
}

b:hover{
	background:  rgb(0,240,120);
	color: #fff;

}

.nav__li a{
	color: #fff;
	text-decoration: none;
}

.nav__li b{
	width: 30px;
	box-sizing: border-box;
    text-align: right;
    margin-right: 5px;
    margin-left: 5px;
}

@media only screen and(max-width:  600px){
	.nav__ul{
		display: none;
	}
	.nav__responsive-ul{
		display: block;
	}
}
propiedades de los items and container
.flex-container{
	display: flex;
	height: 100vh;
    flex-direction: column;
}

.flex-item{
	background-color: #5f9ea0;
	color: #fff;
	padding: 20px;
	margin: 5px;
	min-width: 200px;
	height: 100px;
    border-radius:5px; 
    flex-grow: 1;
    width: 300px;
    flex: 1
}

.orange{
	background: orange;
	cursor: crosshair;
    flex-shrink:0; aparte
    flex: 1 0 ; 
    order: 7
}

.green{
	background: green;
    flex-wrap: wrap;
    order: 5
}

.green:hover{
	background: rgb(123,0,234);
	cursor: all-scroll;
}

practica formulario
<div class="flex-container">
		<form class="form">
		   <div class="form__section" >
			   <input type="text" class="form__input" placeholder="Asunto">
		   </div>
		   <div class="form__section">
			   <input type="email" class="form__input" placeholder="Escriba su e-mail">
		   </div>
		   <div class="form__section">
			   <textarea  class="form__input" placeholder="Escriba su mensaje"></textarea>
		   </div>
		   <div class="form__section">
		   	   <input type="submit" class="form__input">
		   </div>
	    </form>
	    <div class="form-img">
	    	<div class="img-container">
	    		<div>
	    			<img src="correo.png" alt="">
	    		</div>
	    	</div>
	    </div>
	</div>

body{
	background-color: rgb(0,0,0);
}

.flex-container{
	display: flex;
	align-items: center;
	margin: 50px 50px;
	justify-content: center;
	background: rgba(127,255,212,.1);
	border-radius: 30px;
	padding: 20px;
	flex-wrap:  wrap;

}

.form{
	min-width: 200px;
	flex: 1;
	text-align: center;
	padding: 30px;
	order: 5

}

.form__input{
	width: 100%;
	padding: 7px;
	margin: 6px 0;
	border: none;
	border-bottom:  3px solid rgb(0,255,127);
	background: transparent;
	color: rgb(255,255,255);
    
}

.form__input:hover{
    background: linear-gradient(to bottom, transparent, rgb(47,79,79));	
}

.form__input:focus{
	background: linear-gradient(to bottom, transparent, rgb(47,79,79));
	outline: none;
	border-bottom: 3px solid rgb(255,255,255);
}

.form textarea{
	min-height: 140px;
	resize: none;
}

.form-img{
    flex: 1;
    display: flex;
    padding: 10px;
    min-width: 300px;
    order: 2
}

.form-img div{
    padding: 10px;
   
}

.img-container div{
    background-color: rgb(255,255,255);
    border-radius: 10%;
	text-align: center;
	padding: 50px;
}

.img-container{
	margin: auto;
	

}

.form-img img{
	width: 80%;
	border-radius: 10%;
	margin: auto;
}

.form input[type="submit"] {
	background-color: rgb(46,139,87);
	border-bottom: none; 
	padding: 12px;
}
grid auto fill y fit
.grid-container{
	display: grid;
    outline:  5px solid #000;
	grid-template-rows:   repeat(3,100px );  
	grid-template-columns:repeat(auto-fill,minmax(100px,300px)); 
	grid-auto-rows:   1fr;
	grid-auto-columns: 1fr;
	grid-gap: 10px ;
	background-color:  #334d;
	padding: 10px;
	grid-auto-flow: dense ;
	
}


body{
	background: radial-gradient(circle,#fff,#bbb);
	padding: 10px ;	
}

.grid-container{
	display: grid;
    outline:  5px solid #000;
	grid-template-rows:   repeat(3,150px );  
	grid-template-columns:repeat(3,150px ); 
	grid-auto-rows:   1fr;
	grid-auto-columns: 1fr; 
	grid-gap: 10px ;
	background-color:  #334d;
	padding: 10px;
	grid-auto-flow: dense ;
    justify-content:space-around ;
    align-content: space-around;
	height: 600px;
	align-items: center;
	justify-items: center;
}

.grid-item{
	outline: 3px solid #00ced1;
    background-color:  #8fbc8f;
    font-size: 30px;
    padding: 50px;
}

.grid-item:first-child{
	align-self: end;
	justify-self:start;
	order: 3;
	background-color:#eef;
}

.grid-item:nth-child(3){
	align-self: end;
}

.grid-item:nth-child(2){
	align-self: center;
	justify-self:center;
}

practica galeria grid
<div class="grid-container">
		<div class="grid-item"><img src="Captura de pantalla (1).png" alt=""></div>

		<div class="grid-item"><img src="Captura de pantalla (1).png" alt=""></div>
		<div class="grid-item"><img src="Captura de pantalla (2).png" alt=""></div>
		<div class="grid-item"><img src="Captura de pantalla (3).png" alt=""></div>
		<div class="grid-item"><img src="Captura de pantalla (4).png" alt=""></div>
		<div class="grid-item"><img src="Captura de pantalla (5).png" alt=""></div>
		<div class="grid-item"><img src="Captura de pantalla (6).png" alt=""></div>
		<div class="grid-item"><img src="Captura de pantalla (7).png" alt=""></div>
		<div class="grid-item"><img src="Captura de pantalla (8).png" alt=""></div>
		<div class="grid-item"><img src="Captura de pantalla (9).png" alt=""></div>
		<div class="grid-item"><img src="Captura de pantalla (10).png" alt=""></div>
		<div class="grid-item"><img src="Captura de pantalla (11).png" alt=""></div>
		<div class="grid-item"><img src="Captura de pantalla (12).png" alt=""></div>
		<div class="grid-item"><img src="Captura de pantalla (13).png" alt=""></div>
		
		
	</div>

	.grid-container{
	display: grid;
	grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
	grid-auto-rows: 100px;
	grid-gap: 10px;
}

img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}



.grid-item:first-child{
	grid-column: 1/ span 2;
	grid-row: 1/span 2;
}

.grid-item:nth-child(6){
	grid-column: 2/  4;
	grid-row: 3/5;
}

.grid-item:nth-child(8){
	grid-row: span 3;
}

b{
	color: #111;
	background: #fff;
	border:   1px double #111;
	border-radius: 50%;

pagina con grid area
}
.nav__responsive-ul{
	display: none;

}

.nav{
	background-color: rgb(0,0,120);
	height: 55px;
}

.nav__li{
	display: inline-block;
	padding: 12px;
}

.nav__li:hover>a{
	font-size: 21px;
	color: rgb(0,240,120);
}

b:hover{
	background:  rgb(0,240,120);
	color: #fff;

}

.nav__li a{
	color: #fff;
	text-decoration: none;
}

.nav__li b{
	width: 30px;
	box-sizing: border-box;
    text-align: right;
    margin-right: 5px;
    margin-left: 5px;
}


.grid-footer{
	background-color: #5f9;
	grid-area: footer
}

.grid-header{
	background-color: rgb(0,0,120);
	grid-area: header

}

.grid-main{
	background-color: #f5a;
	grid-area: main
}

.grid-aside{
	background-color: #eae;
	grid-area: aside
}
*/
/*body{
	background: radial-gradient(circle,#5fc,#190DB6);
	
	
}



.grid-container{
	
	margin               : .5em;
	display              : grid;
	grid-template-rows   : 200px 200px 200px;
	grid-template-columns:  200px 200px 200px;
  
}

.grid-item{
	
		border: 30px double #0AE4BB;
		border-radius: 50%;
		align-content: center;
		}
*/

